
body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
    
}

p {
  font-size: 120%;
  font-family: 'Lato', 'Helvetica Neue', sans-serif; 
}



p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #D8BFD8;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'Lobster Two', cursive; 
  font-size: 150%;
}
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f004";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #D8BFD8;
  color: white;
}
hr.star-primary {
  border-color: #D8BFD8;
}
hr.star-primary:after {
  background-color: white;
  color:  #D8BFD8;
}
.img-centered {
  margin: 0 auto;
}

/* Nav */



.navbar-custom {
 background: #F08080;
 font-family: 'Lobster Two', cursive; 
 font-size: 150%;  
 border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  padding-top: 1%;    
  letter-spacing: 2px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #D8BFD8;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #D8BFD8;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #D8BFD8;
}
.navbar-custom .navbar-toggle {
  color: white;
  font-size: 15px;
  border-color: white;
  letter-spacing: 2px;
  float: left;
  margin-left: 10px;
    
  
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #D8BFD8;
  color: white;
  border-color: #D8BFD8;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

/* End Nav */

/* Icon Social */

.list-inline{
  float: right;
  padding-top: 1%;  
    
}

.icon-button {
  	border-radius: 4.0rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.5rem;
	height: 4.0rem;
	line-height: 4.0rem;

	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 4.0rem;
}

.icon-button i {
	background: none;
	color: white;
	height: 4.0rem;
	left: 0;
	line-height: 4.0rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 4.0rem;
	z-index: 10;
}


.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}


.icon-button:hover span {
	width: 4.0rem;
	height: 4.0rem;
	border-radius: 4.0rem;
	margin: -2.0rem;
}


.instagram span {
	background-color: #e95950;
}
.facebook span {
	background-color: #3B5998;
}

.icon-button .fa-instagram {
	color: white;
}
.icon-button .fa-facebook {
	color: white;
}

.icon-button:hover .fa-instagram ,
.icon-button:hover .fa-facebook {
	color: white;
}



@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 2.6rem;
    font-size: 1.8rem;
    height: 2.6rem;
    line-height: 2.6rem;
    width: 2.6rem;
  }

  .icon-button:hover span {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.6rem;
    margin: -1.2rem;
  }

  /* Icons */
  .icon-button i {
	  height: 2.6rem;
	  line-height: 2.6rem;
	  width: 2.6rem;
  }
  body {

	  padding: 10px;
  }
  .pinterest {
   display: none; 
  }

}
/* End Icon Social */



/* Tooltip Icon Social */

.tooltip.right > .tooltip-arrow {
  border-right-color: dodgerblue;
}

.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: dodgerblue;
}

.tooltip > .tooltip-inner {
  background-color: dodgerblue;
  text-shadow: 0 1px 1px #000;
  font-weight: normal;
}

code {
  color: royalblue;
  background-color: azure;
}

/* End Tooltip Icon Social */

section {
  padding: 4% 0 ;
    
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #D8BFD8;
  color: white;
}


@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 90px;
  }
}



/* Portifolio */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 0.6;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

/* End Portifolio */



.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 3px solid #fff;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.6em;
  background: none;
  box-shadow: none !important;
  resize: none;

    
  
}
.floating-label-form-group label {
 
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #fff;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: white;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #fff;
}


/* footer */

footer {
  color: white;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #F08080;
}

/* end footer */



.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}


.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}


/* Homer Slider */


#home-slider {
  overflow: hidden;
  position: relative;


}

/* texto slider */

#home-slider .caption {
  position: absolute;
  top: 60%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home-slider .caption h1 {
  color: #fff;
  font-size: 300%;
  font-weight: 700;
  margin-bottom: 30px;
}


/* End texto slider */

.item p {
  font-size: 130%;
  font-family: 'Lobster Two', cursive; 
    
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.4);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}


#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 30px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}
/* End botões slider */



/* End Homerslider */



/* botão back-top */
.top {
    position: fixed;
    right: 15px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    background-color: #F08080;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: block;
    visibility: hidden;
    border-radius: 50px;
}

/* botão back-top */

